/* .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
} */

.direitos-reservados {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.direitos-reservados label {
    color: black;
    font-size: 15px;
}

.horizontal-links svg {
    width: 20px;
    height: 20px;
    fill: black;
}

.horizontal-links svg path {
    fill: white;
}

.footer-container svg:hover path {
    fill: black;
}

@media (max-width: 1024px) {
    .footer-container {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        border-top: inset;
    }
}

/* horizontal lists of links */

.horizontal-links {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.horizontal-links>li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

.horizontal-links>li:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 480px) {
    .horizontal-links {
        margin-left: 0;
    }
}

@media only screen and (max-width: 320px) {
    .horizontal-links {
        display: block;
        font-size: 0.8rem;
    }
    .horizontal-links>li {
        margin-right: 0.8rem;
    }
}

/* footer */

@media (max-width: 375px) {
    footer {
        display: block;
    }
}